@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #ff385c;
  --color-primary-dull: #92174D;
  --color-light: #dddddd;
  --color-borderColor: #dddddd;
  --color-bgColor: #F5F5F5;
   --color-bgColorhover: #EEEEEE;

  
   --color-textlight: #6a6a6a;
   --color-textdark: #222222;

  
}


/* global.css or index.css */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}



@keyframes bounce {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.3); }
  100% { transform: scale(1); }
}
.animate-bounce-heart {
  animation: bounce 0.3s ease-in-out;
}
