@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #ff385c;
  --color-primary-dull: #92174D;
  --color-light: #dddddd;
  --color-borderColor: #dddddd;
    --color-bgColor: #B0B0B0;
    --color-bgColorhover: #6A6A6A;

  
   --color-textlight: #6a6a6a;
   --color-textdark: #222222;

  
}